<div>
    <div class="modal-header">
        <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Eliminar Formulario</h4>
    </div>
    <div class="modal-body">
        <p class="lead">
            ¿Desea Eliminar el Formulario Seleccionado?
        </p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default pull-left" ng-click="$dismiss()">No</button>
        <button type="button" class="btn btn-primary pull-right"><span class="fa fa-trash"> </span> Si, Eliminalo
        </button>
    </div>
</div>
