<!--<div class="panel panel-default">-->
    <!--<div class="panel-heading">{{vm.NombreForm}}</div>-->
    <!--<div class="list-group" ng-repeat="nodo in vm.nodes">-->
        <!--<div ng-repeat="n in nodo">-->
            <!--<a href="" class="list-group-item">{{n.text}}</a>-->

        <!--</div>-->
        <!--&lt;!&ndash;<a href="" class="list-group-item">Seccion 1</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="" class="list-group-item">Seccion 2</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="" class="list-group-item">Seccion 3</a>&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->

<div class="panel panel-default">
    <div class="panel-heading" ng-click="$ctrl.select()">
        <h3 class="panel-title">{{$ctrl.heading}}</h3>
    </div>
    <div class="panel-body" ng-transclude ng-if="$ctrl.selected">
    </div>
</div>
