<div class="col-md-4">
    <h2>Secciones</h2>
    <accordion>
        <accordion-panel heading="{{vm.formulario.text}}">
            <accordion>
                <accordion-panel heading="{{seccion.text}}" idseccion ="{{seccion.href}}" ng-repeat="seccion in vm.secciones">
                    <p ng-repeat="control in seccion.nodes">
                        <span class="glyphicon glyphicon-{{control.icon}}"></span> {{control.text}}
                    </p>
                </accordion-panel>
            </accordion>
        </accordion-panel>
    </accordion>

</div>


<div class="col-md-8">
    <h2>Configuracion</h2>
    <secciones-Config></secciones-Config>
    <seccion-Controles-Config></seccion-Controles-Config>
    <Controles-List ></Controles-List>
</div>


<toaster-container></toaster-container>


