<button type="button" class="btn btn-primary pull-right" ng-click="vm.crearForm()">
    Crear Formulario <span class="glyphicon glyphicon-plus"></span>
</button>

<!--<div>-->
    <!--<label class="switch">-->
        <!--<input type="checkbox"  ng-model="vm.valor" disabled>-->
        <!--<div class="slider round"></div>-->
    <!--</label>-->

    <!--<input type="checkbox" class="form-control"  ng-model="vm.valor" >-->

    <!--<i class="fa  fa-toggle-off" ng-if="!vm.valor" style="font-size:50px; color:red" ng-click="vm.valor = !vm.valor"></i>-->
    <!--<i class="fa  fa-toggle-on" ng-if="vm.valor" style="font-size:50px; color:green"ng-click="vm.valor = !vm.valor"></i>-->
<!--</div>-->

<div class="box">
    <div class="box-header">
        <h3 class="box-title text-center">Bandeja de Formularios</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="" class="form-inline">
            <div class="row">
                <div class="col-sm-6">
                    <div id="example1_filter" class="form-group">
                        <label>Buscar:
                            <input type="search" ng-model="vm.busqueda" class="form-control input-sm"
                                   placeholder="Buscar Formulario...">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="TablaFormularios" class="table table-bordered table-condensed table-hover" role="grid">
                        <thead>
                        <tr role="row">

                            <th>Formulario</th>
                            <th>Descripcion</th>
                            <th class="text-center">Activo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr role="row" class="" ng-repeat="form in vm.datos.slice((vm.bigCurrentPage-1)*vm.maxSize) | filter: vm.busqueda | limitTo: vm.maxSize">
                            <td class=" ">{{form.Nombre}}</td>
                            <td>{{form.Descripcion}}</td>
                            <td class="text-center">
                                <label class="switch">
                                    <input type="checkbox" ng-model="form.Activo" disabled>
                                    <div class="slider round"></div>
                                </label>
                            </td>
                            <td class="text-center">
                                <button type="button" class="btn btn-sm btn-default" id="btnSeleccionarFormulario"
                                        title="Editar" ng-click="vm.editar(form.IdFormulario)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-default" id="btnObtenerUUID" title="UUID"
                                        ng-click="vm.getUUID(form.UUID)">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                                <button type="button" class="btn btn-sm btn-default" id="btnEliminarFormulario"
                                        title="Eliminar" ng-click="vm.eliminar(form.IdFormulario)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.box-body -->

<!-- Modal Mostrar UUID  -->
<div class="modal fade" id="modalUUID">
  <div class="modal-dialog" role="document">
    <div class="modal-content panel-primary">
      <div class="modal-header panel-heading">
          <button type="button" class="close pull-right" ng-click="$dismiss()" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Formulario UUID</h4>
      </div>
      <div class="modal-body">
        <div class="row container-fluid text-center" >
             <h3 id="formUUID">{{ vm.FormUUID }}</h3>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
        <button class="btn btn-info pull-right" clipboard supported="supported" text="vm.FormUUID" on-copied="vm.success()" on-error="vm.fail(err)">
            Copiar <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<center>
    <ul uib-pagination total-items="vm.bigTotalItems" ng-model="vm.bigCurrentPage" max-size="vm.maxSize" class="" boundary-link-numbers="true" rotate="false" ng-change="vm.pageChanged()" previous-text="Atrás" next-text="Siguiente"></ul>
</center>
