<form name="seccionControlConfig">
    <div class="col-md-12">
        <div class="row">
            <!--<h3>Configuracion de Controles</h3>-->
            <div class="panel panel-primary">
                <div class="panel-heading">Configuracion de Controles</div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtTituloControl" class="control-label">Titulo:</label>
                                <div>
                                    <input type="text" class="input-sm form-control" id="txtTituloControl" placeholder="Titulo de Control" ng-model="self.configControles.Nombre">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Tipo de Control:</label>
                                <div>
                                    <select id="TipoControl" class="form-control input-sm" ng-model="self.configControles.IdTipoControl">
                                        <option value="{{opt.Llave}}" ng-repeat="opt in self.listControles">{{opt.Titulo}}</option>
                                    </select>

                                <!-- <div>
                                    <select id="TipoControl" class="form-control input-sm" ng-options="opt.Titulo for opt in self.listControles track by opt.Llave" ng-model="self.configControles.TipoControl"></select> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtLongitudControl" class="control-label">Longitud:</label>
                                <div>
                                    <input type="number" name="txtLongitud" class="input-sm form-control" id="txtLongitudControl" min="0" max="256" placeholder="Longitud"
                                        ng-model="self.configControles.Longitud">
                                    <span class="text-danger" ng-show="seccionControlConfig.txtLongitud.$error.min">*El Valor Minimo permitido es 1.</span>
                                    <span class="text-danger" ng-show="seccionControlConfig.txtLongitud.$error.max">*El Valor Maximo permitido es 256.</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtValorDefaultControl" class="control-label">Valor Default:</label>
                                <div>
                                    <input type="text" class="input-sm form-control" id="txtValorDefaultControl" placeholder="Valor Default" ng-model="self.configControles.ValorDefault">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12"></div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtPlaceholderControl" class="control-label">Placeholder:</label>
                                <div>
                                    <input type="text" class="input-sm form-control" id="txtPlaceholderControl" placeholder="Placeholder" ng-model="self.configControles.Caption">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="txtTextoAyudaControl" class="control-label">Texto de Ayuda</label>
                                <div>
                                    <input type="text" class="input-sm form-control" id="txtTextoAyudaControl" placeholder="Subtexto de Ayuda" ng-model="self.configControles.HelpText">
                                </div>
                            </div>
                        </div>



                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Columna Tabla BD:</label>
                                <div>

                                    <select name="" class="form-control input-sm" ng-model="self.configControles.NombreColumna">
                                    <option value="">(Ninguno)</option>
                                    <option value="{{opt.columnName}}" ng-repeat="opt in self.ColumnName">{{opt.columnName}}</option>
                                </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Requerido:</label>
                                <!--<div>-->
                                <!--<div toggle-switch on-label="Si" off-label="No" class="switch-success" ng-model="switchStatus"> </div>-->

                                <!--<input type="button" class="btn btn-default btn-sm" id="btnRequerido" ng-model="self.configControles.requerido" ng-click="self.requerido()"-->
                                <!--value="{{self.configControles.requerido | SiNo}}">-->
                                <!--</div>-->



                            </div>

                            <div class="" id="">
                                <label class="switch " >
                                    <input type="checkbox" class="form-control"  ng-model="self.configControles.Requerido">
                                    <div class="slider round"></div>
                                </label>
                            </div>


                        </div>

                        <!-- <div class="col-md-12">
                            <div class="form-group">
                                <div class="pull-left">
                                    <button type="submit" class="btn btn-sm btn-success">Guardar Control</button>
                                    <button type="reset" class="btn btn-sm btn-danger" ng-click="self.reset()">Cancelar</button>
                                </div>
                            </div>
                        </div> -->

                    </div>

                    <!--Configuracion de Switch-->
                    <div class="row" ng-if="self.configControles.IdTipoControl == 8 " >
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Título opción Verdadero</label>
                                <input type="text" class="form-control input-sm" ng-model="self.configControles.TextoSeleccionado">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Título opción Falso</label>
                                <input type="text" class="form-control input-sm" ng-model="self.configControles.TextoNoSeleccionado">
                            </div>
                        </div>
                    </div>

                    <!--Configuracion de textArea-->
                    <div class="row" ng-if="self.configControles.IdTipoControl == 9">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Altura del campo</label>
                                <input type="number" class="form-control input-sm" ng-model="self.configControles.TextAreaHeight">
                            </div>
                        </div>
                    </div>

                    <!--Configuracion de parametros extra-->
                    <div id="divOrigenDatos" ng-if="needDataConfig(self.configControles.IdTipoControl)">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Obtener Información de Base de datos:</label>
                                <!-- <input type="checkbox" id="chkBDSeccionControl" ng-model="self.configControles.objEncDataSource.BaseDatos"/> -->
                                <div class="" id="">
                                    <label class="switch " >
                                        <input type="checkbox" class="form-control" ng-model="self.configControles.objEncDataSource.BaseDatos">
                                        <div class="slider round"></div>
                                    </label>
                                </div>

                            </div>
                        </div>

                        <div id="divOrigenDatosBD" ng-if="self.configControles.objEncDataSource.BaseDatos">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Consulta:</label>
                                        <textarea id="txtConsultaBandeja" cols="6" class="form-control input-sm" ng-model="self.configControles.objEncDataSource.Consulta"></textarea>
                                    </div>
                                </div>
                                <div id="divOrigenDatosDropDownPadre" ng-if="self.configControles.IdTipoControl == 6 || self.configControles.IdTipoControl == 4">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Campo Padre: </label>
                                            <select id="selectCampoPadre" class="form-control input-sm" ng-model="self.configControles.IdSeccionControlPadre">
                                                <option value="0">(Ninguno)</option>
                                                <option value="{{control.IdSeccionControl}}" ng-repeat="control in self.controlesPadres">{{control.Nombre}}</option>
                                            </select>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Campo Texto:</label>
                                        <input type="text" class="form-control input-sm" id="txtCampoTexto" ng-model="self.configControles.objEncDataSource.TextField" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Campo Valor:</label>
                                        <input type="text" class="form-control input-sm" id="txtCampoValor" ng-model="self.configControles.objEncDataSource.ValueField"/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="divOrigenDatosEstatico" ng-if="!self.configControles.objEncDataSource.BaseDatos">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Informacion a mostrar:</label>
                                        <textarea id="txtCapturaValores" rows="6" class="form-control input-sm" ng-model="self.configControles.objEncDataSource.Valores"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Botones  -->
                    <div class="col-md-12 row">
                        <div class="form-group">
                            <div class="pull-left">
                                <button type="submit" class="btn btn-sm btn-success" ng-click="self.agregarControl()">Guardar</button>
                                <button type="button" class="btn btn-sm btn-danger" ng-click="self.reset()">Cancelar</button>
                            </div>
                        </div>
                    </div>

                    <br>
                    <br>
                    <!-- <div class=" col-md-12 jumbotron">
                        {{self.configControles | json}}
                    </div> -->
                    <hr>
                    <!-- Tabla de controles de seccion -->
                    <div class="row">
                        <div class="col-sm-12 " id="divControlesTable">
                            <table class="table table-hover table-responsive table-border">
                                <thead>
                                    <tr>

                                        <th>#</th>
                                        <th>Titulo</th>
                                        <th>Tipo Control</th>
                                        <th>Valor Default</th>
                                        <th>Tamaño</th>
                                        <th>Obligatorio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="control in controles" ng-click="editarControl($index)">
                                        <td class="">{{$index + 1}}</td>
                                        <td>{{control.Nombre}}</td>
                                        <td class="">{{control.IdTipoControl  | typeCtrl }}</td>
                                        <td class="">{{control.ValorDefault}}</td>
                                        <td class="text-center">{{control.Longitud}}</td>
                                        <td class="text-center">{{control.Requerido | SiNo}}</td>
                                        <td>
                                            <!-- <button type="button" class="btn btn-sm btn-warning" ng-click="editarControl($index)">
                                                <span class="fa fa-pencil"></span>
                                            </button> -->
                                            <button type="button" class="btn btn-sm btn-danger" ng-click="eliminarControl($index)">
                                                <span class="fa fa-times"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <!-- <div class="jumbotron">
                                {{controles | json}}
                            </div> -->
                        </div>
                    </div>

                </div> <!-- end row ppal-->
            </div>
        </div>
    </div>


</form>
